<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h3>REGISTER</h3>
<form class="data" action="register" method="post"><br>
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your name"><br>
    <input type="text" name="first_name" placeholder="Enter your frist name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="enter your email"><br>
    <input type="password" name="password" placeholder="enter your password"><br>
    <input type="password" name="password1" placeholder="confirm your password"><br>
    <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}

</body>
</html>